

body {
    background-color: #999;
}
h5 {
    font-family: 'Nanum Myeongjo', serif;
}
#title{
  margin-top: 3%;
  margin-left: 2%;
}
#projects {
  width: 30%;
  float: left;
  margin-right: 1%;
  margin-left: 3%;
  margin-top: 6%;
}
#AboutMe {
  width: 30%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 6%;
}
#contact{
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-left: 1%;
  margin-top: 6%;
}
img {
  width:100%;
}
