

body {
  background-color: #a9a9a9;};


#message {
  margin-top: 10%;
  margin-bottom: 3%;
  margin-left: 15%;
}
#title {
  margin-top: 3%;
  margin-left: 2%;
}
#indent{
  margin-top: 400px;
  margin-left: 22%;
  margin-right: 22%;
}


#projects {
  width: 30%;
  height: 42%;
  float: left;
  margin-right: 1%;
  margin-left: 3%;
  margin-top: 6%;
  position: relative;
  display: inline-block;
}
#projects .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  object-fit: cover;
}
#projects:hover .img-top {
  display: inline;
}

#aboutMe {
  width: 30%;
  height: 42%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 6%;
  position: relative;
  display: inline-block;
}

#aboutMe .img-top1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  object-fit: cover;
}

#aboutMe:hover .img-top1 {
  display: inline;
}

#contact {
  width: 30%;
  height: 42%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 6%;
  position: relative;
  display: inline-block;
}

#contact .img-top2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  object-fit: cover;
}

#contact:hover .img-top2 {
  display: inline;
}

img {
  width: 100%;
  height: 100%;
}

#myProjects {
    width: 40%;
    text-align: left;
    float: left;
    color: black;
    background-color:#bdbdbd;
    padding: 2em;
    margin-top: 50px;
    margin-bottom: 10%;
    margin-right: 2.5%;
    margin-left: 5%;

}

#moreProjects {
    width: 40%;
    float:left;
    text-align: left;
    color: black;
    background-color:#bdbdbd;
    padding: 2em;
    margin-top: 50px;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 2.5%;
}

#singlecontainer {
  text-align: center;
  color: black;
  background-color:#bdbdbd;
  padding: 2em;
  margin-top: 350px;
  margin-bottom: 10%;
  margin-right: 20%;
  margin-left: 20%
}


#email{
    margin-top:5%;
    margin-left: 40%;
    margin-right: 30%;
    display: inline-block;
    text-align: center;
}


#github{
    width: 75px;
    height: 75px;
    float: left;

}

#facebook{
    width: 75px;
    height: 75px;
    float: left;
}

#instagram{
    width: 75px;
    height: 75px;
    float: left;
}

#background{
  backround: #bdbdbd;

}
