%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Nanum+Myeongjo", :rel => "stylesheet"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Lara Thordardottir"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    #container
      #title
        %h2 LARA THORDARDOTTIR
        %h7 WEB DEVELOPER
      #projects
        %a{:href => "projects.html"}
          %img{:alt => "laptop", :src => "https://images.unsplash.com/photo-1485119584289-30ca2b38c67e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c395832fbacd178701646c494b1278c&auto=format&fit=crop&w=750&q=80"}/
          %img.img-top{:alt => "projects", :src => "https://i.imgur.com/RqMEuI8.png"}/
      #aboutMe
        %a{:href => "about_me.html"}
          %img{:alt => "laptop", :src => "https://images.unsplash.com/photo-1481471687787-aabc31906d37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb3fbb400529745884c90efbd8593698&auto=format&fit=crop&w=750&q=80"}/
          %img.img-top1{:alt => "projects", :src => "https://i.imgur.com/Z959yE1.png"}/
      #contact
        %a{:href => "contact.html"}
          %img{:alt => "contact", :src => "https://images.unsplash.com/photo-1505767297988-6d5da4a1730c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6af8decca8bed8a46e363ddf20ae2c25&auto=format&fit=crop&w=755&q=80"}/
          %img.img-top2{:alt => "projects", :src => "https://i.imgur.com/gn8vKZt.png"}/
      = yield




    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
