%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Nanum+Myeongjo", :rel => "stylesheet"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Lara Thordardottir"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body

  #myProjects
    %h2 Projects
    %br
    %h6
      %a{:href => "https://larathordar.github.io/"} My First Site
    %p My first coding project. A simple HTML5 site I buit.
    %h6 FizzBuzz
    %p My first Test driven ruby project. A simple children's math game.
    %h6 ATM
    %p A test driven Ruby project that simutlates an ATM.
    %h6 The Library challenge
    %p A simulation of a small library using Ruby.
    %h6 BMI Calculator
    %p  Test driven JavaScript project with user interface


  #moreProjects
    %h2 Projects
    %h6
    %br
      %a{:href => "https://ingloriousbites23.herokuapp.com/"} Inglourious Bites
    %p A web application built in Ruby for a made up restaurant.
    %h6
      %a{:href => "https://euphonyapp.herokuapp.com/"} Euphony
    %p A web application that uses Spotify's API to find music based on the mood you are in.
    %h6
      %a{:href => "https://dreamteam-publications.herokuapp.com/"} Dreamteam Publications
    %p A web application made for a fake news website
    %h6
      %a{:href => "https://itunes.apple.com/DK/app/id1370912583?mt=8"} Ben & Nik Invitational
    %p This was my final project at CraftAcademy developing an application for a Swedish skiing event. The purpose of the app is to give the audience an opportunity to have impact on the event's results.

  #inprogress
    %br
    %h2 In Progress
    %br
    %h6 Bó arkitektar.
    %p A website for a architecture firm based in Iceland.
    %h6 Bears Ice Cream Company.
    %p An application for an Ice cream parlour based in London.







    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
